[submodule "ansible/roles/prometheus"]
	path = ansible/roles/prometheus
	url = https://github.com/kofonfor/ansible-role-prometheus.git
[submodule "ansible/roles/nginx"]
	path = ansible/roles/nginx
	url = https://github.com/kofonfor/ansible-role-nginx.git
[submodule "ansible/roles/bcc-tools"]
	path = ansible/roles/bcc-tools
	url = https://github.com/kofonfor/ansible-role-bcc-tools.git
